.button {
  display: inline-block;
  width: 100px;
  height: 40px;
  padding: 0px;
  margin-right: 10px;
  border-width: 5px;
  background-color: aquamarine;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 250ms linear;
}

.button:hover {
  background-color: aqua;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 250ms linear;
}
